.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #015a29;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image-container {
  position: relative;
  transition: transform 0.2;

}

.image-container {
  cursor: pointer;
  transform: scale(1.1);
}

.form-label {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}

.form-control:focus {
  border-color: #1a9520;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 120, 24, 0.6);
}

.form-container {
  border-radius: 25px;
  border: 1px solid;
  border-color: #84a98c;
  background-color: #84a98c;
  stroke-width: 1rem;
  box-shadow: inset 0px 0px 0px 0px rgba(76, 81, 78, 0.075), 5px 5px 15px 0px rgba(72, 74, 73, 0.6);
  margin: 10% 30% 20% 30%;
}

.mm-custom {
  background-color: #84a98c;
  color: #84a98c;
}

.round-cor {
  border-radius: 25;
}

.search-hover {
  background: linear-gradient(45deg,
      rgba(30, 230, 200, 0.5),
      rgba(90, 15, 215, 0.5) 100%);
}

.search-bar {
  width: 500px;
  >>>>>>>368c545b0d5624763e62c219a11083d4fc1ed8a7
}