.parkdetail {
    padding: 3% 22% 0%;
}

.featurette-heading-detail {
<<<<<<< HEAD
    padding-bottom: 15px;
=======
    padding-bottom: 0px;
    margin-bottom: 3px;
>>>>>>> origin
}

.col-6 {
    padding-top: 20px;
}
