.photo {
    padding: 2px 0 10px 10px;
}

/* HEADER SETTINGS */

/* #myCarousel {
    width: 100%;
    height: auto;
}

.carouselphoto {
    width: 200%;
    height: auto;
    max-height: 380px;
} */

/* LIST SETTINGS */

.parkslist {
    padding: 5% 12% 0%;
}

.featurette-divider {
    padding: 1px;
    margin-top: 5px;
}

/* .parksphoto {
    max-width: 400px;
    max-height: 300px;
} */

/* FOOTER SETTINGS */

.white-section {
    margin-top: 0;
    padding: 10px;
    text-align: center;
}

.footicon {
    color: #000;
    padding: 10px;
    margin: 20px auto 10px;
}

.footp {
    padding: 0;
}


/* SEARCH BAR */

.input-group {
    padding: 1% 12% 0%;
}

/* HOME PAGE */

.hero {
    background-image: url(./images/MainPage-BG.jpg);
    background-position: center;
    background-size: color;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #080805d3;
    z-index: -1;
    /* brings forward */
}

.homepagetext {
    color: white;
}

.homebutton {
    background-color: #84a98c;
    color: white;
    margin-top: 20px;
}

.shad_bottom {
    box-shadow: 0px 0px 50px;
}

.off_white {
    background-color: rgb(219, 246, 218);
}

.background-list {
    background-color: #a8c5a7;
}

.list-border {
    border: 10px solid;
    border-style: inset;
    border-color: #906d53
}

.h1c {
    color: #198754;
}