.root {
    padding: 3% 10% 7%;
}

.white-section {
    padding: 10px;
    text-align: center;
}

.photo {
    padding: 2px 0 10px 10px;
}

.caruselphoto {
}

.featurette-divider {
    padding: 1px;
    margin-top: 5px;
}

.footicon {
    color: #000;
    padding: 10px;
    margin: 20px auto 10px;
}

 .footp {
     padding: 3%;
     padding: 0;
 }