.photo {
    padding: 2px 0 10px 10px;
}

.zero {
    background-image: url(./images/MainPage-BG.jpg);
    background-position: center;
    background-size: color;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.zero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e2e2ed3;
    z-index: -1;
    /* brings forward */
}

.dash-text {
    color: white
}

.dash-border {
    border: solid;
    border-color: #84a98c;
    background-color: #84a98c;
}

.mm-custom {
    color: #84a98c;
}

.round-cor {
    border-radius: 25;
}

.dash-container {
    column-count: 2;
    column-gap: 20px;
}